// custom SCSS (or CSS) goes here
.practice-question, .course-project {
    background: #f9f9ff;   
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    margin-top: 2rem;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
    
  .question, .project {
    background: #fff;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border: 1px solid #e0e0e0; 
    border-radius: 6px;
    transition: background 0.3s;
  
  }
  
  .question:hover, .project:hover {
    background: #f4f0ff;
  }
  .practice-question{
    border-left: 5px solid #7153ED;
  }
  .course-project {
    border-right: 5px solid #7153ED;
  }
  .question{
    border-left: 4px solid #7153ED;
  }
  .project {
    border-right: 4px solid #7153ED;
  }
  .authors_div1, .authors_div2 {
    background-color: #f9f9ff; 
    padding: 1rem 1.5rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.04); 
    margin-bottom: 2rem;
    overflow:auto;
  }
  .authors_div1 {
    border-left: 5px solid #7153ED; 
  }
  .authors_div2 {
    border-right: 5px solid #7153ED; 
  }
  .side_by_side{
    display: flex;  
    align-items: flex-start; 
    gap: 1rem; 
    margin-top: 1rem;
  }
  .preface{
    background: #f9f9ff; 
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: justify;
    border-left: 4px solid #D1D5DB;
  }
  .image_div{
    flex: 1 1 250px; 
    min-width: 207px; 
    text-align: center;
  }
  .image_div img{
    max-width: 100%;
     height: auto; 
     border-radius: 10px; 
     box-shadow: 0 6px 18px rgba(0,0,0,0.15); 
     margin-top: 0.5rem;
  }
  .authors_div1 img, .authors_div2 img {
    float: right;
    width: 180px;           
    margin: 0 0 1rem 1rem; 
    border-radius: 8px;
    margin-top: 0.5em;
  }
  .authors_div1 p, .authors_div2 p {
    margin-top: 0.5em !important;
  }